{
  "version": "vX.Y.Z",
  "notes": "更新内容:\n- 在此填写本次发布的更新说明",
  "pub_date": "YYYY-MM-DDTHH:MM:SSZ",
  "platforms": {
    "windows-x86_64": {
      "signature": "",
      "url": "https://github.com/EmbeddedKitOrg/EK-OmniProbe/releases/download/vX.Y.Z/EK-OmniProbe_X.Y.Z_x64-setup.nsis.zip"
    },
    "linux-x86_64": {
      "signature": "",
      "url": "https://github.com/EmbeddedKitOrg/EK-OmniProbe/releases/download/vX.Y.Z/ek-omniprobe_X.Y.Z_amd64.AppImage.tar.gz"
    },
    "darwin-x86_64": {
      "signature": "",
      "url": "https://github.com/EmbeddedKitOrg/EK-OmniProbe/releases/download/vX.Y.Z/EK-OmniProbe_X.Y.Z_x64.app.tar.gz"
    },
    "darwin-aarch64": {
      "signature": "",
      "url": "https://github.com/EmbeddedKitOrg/EK-OmniProbe/releases/download/vX.Y.Z/EK-OmniProbe_X.Y.Z_aarch64.app.tar.gz"
    }
  }
}
